<template>
  <div class="form">
    <div class="btn-group">
      <button class="btn btn-default" @click="toBold">
        <span class="material-icons">format_bold</span>
      </button>
      <button class="btn btn-default" @click="toList">
        <span class="material-icons">list</span>
      </button>
    </div>
    <editor-content :editor="editor" />
  </div>
</template>

<script>
import ValidationNotification from './ValidationNotification.vue'
import {  Editor, EditorContent  } from '@tiptap/vue-3'
import StarterKit from '@tiptap/starter-kit'
import Bold from '@tiptap/extension-bold'
import ListItem from '@tiptap/extension-list-item'

export default {
  components: {
    ValidationNotification,
    EditorContent
  },
  emits: ['save'],
  name: 'IstructionForm',
  props: {
    instructions: {
      require: false,
      default: ''
    }
  },
  data () {
    return {
      editor: null
    }
  },
  methods: {
    toBold: function () {
      this.editor.commands.toggleBold()
    },
    toList: function () {
      this.editor.commands.toggleBulletList()
    }
  },
  watch: {
    instructions (value) {
      if (this.editor.getHTML() === value) {
        return
      }

      this.editor.commands.setContent(this.instructions, false)
    }
  },
  mounted() {
    this.editor = new Editor({
      content: this.instructions,
      extensions: [
        Bold,
        ListItem,
        StarterKit,
      ],
      onUpdate: () => {
        this.$emit('update', this.editor.getHTML())
      },
    })
  },
  beforeUnmount() {
    this.editor.destroy()
  },
}
</script>