<template>
  <nav class="navbar navbar-main bg-light fixed-top">
  <div class="container">
    <div class="navbar-brand logo" @click="gotoHomeView">
      p<span>n</span>d
    </div>
    <from>
      <button class="btn btn-outline-dark btn-main" @click="gotoLogin" v-if="!isLoggedIn">login</button>
      <button class="btn btn-outline-dark btn-main" @click="logout" v-else>logout</button>
  </from>
  </div>
</nav>
</template>

<script>
export default {
  name: 'NavBar',
  methods: {
    gotoLogin: function () {
      this.gotoLoginView()
    },
    logout: function () {
      this.userLogout()
    }
  },
  computed: {
    isLoggedIn: function () {
      return this.$root.user !== null
    }
  }
}
</script>
