<template>
  <div id="notification" class="notification">
      <div class="alert alert-danger btn-group" v-if="isError">
          {{ error }}<span class="material-icons btn-icon" @click="resetValues">cancel</span>
      </div>
      <div class="alert alert-success btn-group" v-else>
          {{ success }}<span class="material-icons btn-icon" @click="resetValues">cancel</span>
      </div>
  </div>
</template>

<script>
export default {
  name: 'Notification',
  emits: ['click'],
  props: {
    error: {
      type: String,
      required: true
    },
    success: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      delay: 3000
    }
  },
  methods: {
    isNotEmpty: function (text) {
      return text !== ''
    },
    showNotification: function () {
      const notification = document.getElementById('notification')
      notification.classList.add('show')
    },
    hideNotification: function () {
      const notification = document.getElementById('notification')
      notification.classList.remove('show')
    },
    resetValues: function () {
      this.error = ''
      this.success = ''
    }
  },
  computed: {
    isError: function () {
      return this.error !== ''
    }
  },
  watch: {
    error: function () {  
      if (this.isNotEmpty(this.error)) {
        this.showNotification()
      } else {
        this.hideNotification()
      }
    },
    success: function () {  
      if (this.isNotEmpty(this.success)) {
        this.showNotification()
      } else {
        this.hideNotification()
      }
    }
  }
}
</script>
