<template>
  <div class="search btn-group">
    <div id="recipeSearch" data-bs-toggle="dropdown" aria-expanded="false" class="btn-group form-control search-box input-main">
      <span class="material-icons search">search</span>
      <input type="text"
        class="col-10 search-input"
        placeholder="Search"
        v-model="search" />
    </div>
    <div class="dropdown-menu" aria-labelledby="#recipeSearch">
        <div class="dropdown-item"
            v-for="(suggestion, index) in suggestions" :key="index"
            v-html="boldMatchingText(suggestion.name)"
            @click="sendRecipe(suggestion)">
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RecipeSearch',
  emits: ['click'],
  data () {
    return {
      search: ''
    }
  },
  methods: {
    sendRecipe: function (recipe) {
      this.$emit('click', recipe)
    },
    boldMatchingText: function (text) {
      return text.replace(
        this.search,
        '<strong>'.concat(this.search).concat('</strong>')
      )
    }
  },
  computed: {
    recipes: function () {
      return this.$root.recipes
    },
    suggestions: function () {
      if (this.search === '' || !Array.isArray(this.recipes)) {
        return []
      } else {
        const searTerm = this.search.toLowerCase()

        return this.recipes.filter((item) =>
          item.name.toLowerCase().indexOf(searTerm) >= 0
        )
      }
    }
  }
}
</script>
