<template>
  <div class="form">
    <div class="form-group">
        <input type="text" placeholder="name" class="form-control" v-model="recipe.name" />
        <validation-notification :error="error.name" v-if="isUserBusy || hasError"/>
    </div>
    <div class="form-group mt-5">
        <input type="button" 
          class="btn btn-main ms-aut"
          value="create"
          @click="createRecipe(recipe)"
          v-if="!isEditMode"/>
        <input type="button"
          class="btn btn-main ms-aut"
          value="update"
          @click="updateRecipe(recipe)"
          v-else/>
    </div>
  </div>
</template>

<script>
import ValidationNotification from './ValidationNotification.vue'

export default {
  components: { ValidationNotification },
  name: 'RecipeForm',
  emits: ['create', 'update'],
  props: {
    editItem: {
      required: false,
      default: null
    },
    success: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      recipe: {
        name: ''
      },
      error: {
        name: ''
      }
    }
  },
  methods: {
    createRecipe: function (recipe) {
      if (this.isValid(recipe)) {
        this.recipe.views = 0
        this.recipe.datecreated = new Date().toISOString().substring(0, 10)
        this.$emit('create', Object.assign({}, recipe))
      }
    },
    updateRecipe: function (recipe) {
      if (this.isValid(recipe)) {
        this.$emit('update', Object.assign({}, recipe))
      }
    },
    isValid: function (recipe) {
      const validationResult = this.validateRecipe(recipe)
      this.resetError()
      const self = this

      if (validationResult.length > 0) {
        validationResult.forEach(function (result) {
          self.error[result.key] = result.message
        })
      }

      return validationResult.length === 0
    },
    resetRecipe: function () {
      this.recipe = this.getCleanRecipe()
    },
    resetError: function () {
      this.error = this.getCleanRecipe()
    },
    getCleanRecipe: function () {
      return { name: '' }
    }
  },
  computed: {
    isEditMode: function () {
      return this.editItem !== null
    },
    isUserBusy: function () {
      return this.recipe.name !== ''
    },
    hasError: function () {
      return this.error.name !== ''
    }
  },
  watch: {
    editItem: function () {
      if (this.editItem !== null) {
        this.recipe = Object.assign({}, this.editItem)
      }
    },
    recipe: {
      handler (recipe, oldRecipe) {
        this.isValid(recipe)
      },
      deep: true
    },
    success: function () {
      if (this.success !== '') {
        document.querySelector('.btn-close').click()
        this.resetRecipe()
      }
    }
  }
}
</script>
