<template>
  <div>
    <ul class="list-group bg-white">
        <li class="list-group-item ingredient"
          v-for="(recipe, index) in recipes"
          :key="index"
          @touchstart="startCount"
          @mousedown="startCount"
          @touchend="getRecipe(recipe)"
          @mouseup="getRecipe(recipe)">
          <div class="col-12 btn-group">
            <span class="material-icons me-3">lunch_dining</span>
            <span>{{ recipe.name }}</span>
          </div>
        </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'RecipeList',
  emits: ['click', 'showoptions'],
  data () {
    return {
      search: '',
      currentPage: 1,
      pageSize: 10,
      holdtime: 0,
      isOptionMode: false
    }
  },
  methods: {
    startCount: function (event) {
      this.$root.startCount(event)
    },
    getRecipe: function (recipe) {
      if (!this.$root.isClickAndHold()) {
        this.$emit('click', recipe)
      } else {
        this.$emit('showoptions', recipe)
      }
    }
  },
  computed: {
    recipes: function () {
      return this.$root.recipes
    }
  }
}
</script>
