<template>
  <div class="row gap-4">
    <div class="card card-main col-lg-3"
        v-for="(recipe, index) in recipes"
        :key="index"
        @click="getRecipe(recipe)">
        <div class="card-body">
            <h5 class="card-title">
              {{ recipe.name }}
            </h5>
        </div>
        <span class="views btn-group">
          <span class="material-icons me-1">
            visibility
          </span>
          {{ recipe.views }}
        </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RecipeList',
  emits: ['click'],
  props: {
    recipes: {
      required: true
    }
  },
  data () {
    return {}
  },
  methods: {
    getRecipe: function (recipe) {
      this.$emit('click', recipe)
    }
  }
}
</script>
