<template>
  <div class="validation">
      <div class="danger" v-if="isError">
          {{ error }}
      </div>
      <div class="success" v-else>
          <em>&#10003;</em>
      </div>
  </div>
</template>

<script>
export default {
  name: 'ValidationNotification',
  props: {
    error: {
      type: String,
      required: true
    }
  },
  computed: {
    isError: function () {
      return this.error !== ''
    }
  }
}
</script>
