<template>
  <section class="bg-lightbrown">
    <div id="ingredients" class="row collapse show justify-content-center">
      <modal modalId="ingredientForm" modalTitle="">
        <ingrediant-form
          :edit-item="currentIngredient"
          @save="saveIngredient"
          @update="saveIngredient" />
      </modal>
      <button id="ingredientOptionBtn" data-bs-toggle="modal" data-bs-target="#ingredientOptions" hidden>new </button>
      <modal modal-id="ingredientOptions" :modal-title="ingrediantName">
        <div class="col">
          <button class="btn btn-outline-dark btn-main"
            data-bs-dismiss="modal"
            data-bs-toggle="modal"
            data-bs-target="#ingredientForm">
              update
          </button>
          <button
            class="btn btn-dark btn-main ms-5"
            data-bs-dismiss="modal"
            data-bs-toggle="modal"
            data-bs-target="#ingredientOptions"
            @click="deleteIngrediant">
            delete
          </button>
        </div>
      </modal>
      <div class="row col-lg-10 col-md-12 card mt-5">
        <center>
          <h3 class="mb-2">{{ recipeName }}</h3>
        </center>
        <h4 class="mt-4 mb-5">Ingredianst</h4>
        <ingredient-list class="col-lg-12 col-md-12"
        :ingredients="ingredientItems"
        @showoptions="showIngredientOptions" />
        <h4 class="mt-5 mb-2">Instructions</h4>
        <instruction-form
          :instructions="currentInstruction"
          @update="saveInstruction" />
      </div>
      <div class="col-12">
        <button id="ingredientFormBtn"
          class="btn btn-action"
          data-bs-toggle="modal"
          data-bs-target="#ingredientForm">
          <span class="plus"></span>  
        </button>
      </div>
    </div>
    <div class="row nav-bottom justify-content-center fixed-bottom p-3">
      <button @click="save" class="btn btn-main">save</button>
    </div>
  </section>
</template>

<script>
import IndstructionList from '../../components/IndstructionList.vue'
import IngrediantForm from '../../components/IngrediantForm'
import IngredientList from '../../components/IngredientList.vue'
import InstructionForm from '../../components/InstructionForm'
import Modal from '../../components/Modal.vue'

export default {
  name: 'IngridiantAdmin',
  components: {
    Modal,
    IngrediantForm,
    IngredientList,
    IndstructionList,
    InstructionForm
  },
  data () {
    return {
      ingredients: {},
      instructions: '',
      currentIngredient: null,
      currentInstruction: ''
    }
  },
  methods: {
    showIngredientOptions: function (ingrediant) {
      this.currentIngredient = ingrediant
      document.getElementById('ingredientOptionBtn').click()
    },
    showInstructionOptions: function (instruction) {
      this.currentInstruction = instruction
      document.getElementById('instructionOptionBtn').click()
    },
    saveIngredient: function (ingredient) {
      if (this.ingredients.items === undefined) {
        this.ingredients.items = []
      }

      let index = this.ingredients.items.indexOf(ingredient.oldValue)

      if (index === -1) {
        this.ingredients.items.push(ingredient.newValue)
      } else {
        this.ingredients.items[index] = ingredient.newValue
      }

    },
    saveInstruction: function (instructions) {
        this.instructions = instructions
    },
    deleteIngrediant: function () {
      this.ingredients.items = this.baseIngredients.items.filter(
        (item) => item !== this.currentIngredient
      )
    },
    save: function () {
      const ingredient = {
        recipe: this.recipe.id,
        items: this.ingredients.items,
        instructions: this.instructions
      }
  
      if (this.baseIngredients === undefined) {
        this.ingrediantCreate(ingredient)
      } else {
        ingredient.id = this.baseIngredients.id
        this.ingrediantUpdate(ingredient)
      }
    },
    loadIngredients: function () {
      if (this.baseIngredients !== undefined) {
        this.ingredients = Object.assign({}, this.baseIngredients)
        this.currentInstruction = '' + this.baseIngredients.instructions
      }
    }
  },
  computed: {
    ingredientItems: function () {
      return this.ingredients.items
    },
    recipeName: function () {
      return (this.recipe !== null) ? this.recipe.name : ''
    },
    ingrediantName: function () {
      return (this.currentIngredient !== null) ? this.currentIngredient.name : ''
    },
    recipe: function () {
      return this.$root.recipe
    },
    baseIngredients: function () {
      return this.$root.ingredients
    }
  },
  watch: {
    baseIngredients: function () {
      this.loadIngredients()
    }
  },
  beforeMount () {
    this.ingrediantGetByRecipe(this.recipe.id)
    this.loadIngredients()
  }
}
</script>
